<div>
  <h2 id="page-heading" data-cy="AnnexureQuestionsHeading">
    <span jhiTranslate="auditAppV1App.annexureQuestions.home.title"
      >Annexure Questions</span
    >

    <div class="d-flex justify-content-end">
      <button
        class="btn btn-info mr-2"
        (click)="loadPage()"
        [disabled]="isLoading"
      >
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span
          jhiTranslate="auditAppV1App.annexureQuestions.home.refreshListLabel"
          >Refresh List</span
        >
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-annexure-questions"
        [routerLink]="['/annexure-questions/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="auditAppV1App.annexureQuestions.home.createLabel">
          Create a new Annexure Questions
        </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div
    class="alert alert-warning"
    id="no-result"
    *ngIf="annexureQuestions?.length === 0"
  >
    <span jhiTranslate="auditAppV1App.annexureQuestions.home.notFound"
      >No annexureQuestions found</span
    >
  </div>

  <div
    class="table-responsive"
    id="entities"
    *ngIf="annexureQuestions && annexureQuestions.length > 0"
  >
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr
          jhiSort
          [(predicate)]="predicate"
          [(ascending)]="ascending"
          (sortChange)="loadPage()"
        >
          <th scope="col" jhiSortBy="id">
            <span jhiTranslate="global.field.id">ID</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="formName">
            <span jhiTranslate="auditAppV1App.annexureQuestions.formName"
              >Form Name</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="type">
            <span jhiTranslate="auditAppV1App.annexureQuestions.type"
              >Type</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="subType">
            <span jhiTranslate="auditAppV1App.annexureQuestions.subType"
              >Sub Type</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="auditAppV1App.annexureQuestions.description"
              >Description</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="freeField1">
            <span jhiTranslate="auditAppV1App.annexureQuestions.freeField1"
              >Free Field 1</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="freeField2">
            <span jhiTranslate="auditAppV1App.annexureQuestions.freeField2"
              >Free Field 2</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="freeField3">
            <span jhiTranslate="auditAppV1App.annexureQuestions.freeField3"
              >Free Field 3</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="freeField4">
            <span jhiTranslate="auditAppV1App.annexureQuestions.freeField4"
              >Free Field 4</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <span jhiTranslate="auditAppV1App.annexureQuestions.createdDate"
              >Created Date</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="auditAppV1App.annexureQuestions.createdBy"
              >Created By</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <span jhiTranslate="auditAppV1App.annexureQuestions.lastModified"
              >Last Modified</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="auditAppV1App.annexureQuestions.lastModifiedBy"
              >Last Modified By</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let annexureQuestions of annexureQuestions; trackBy: trackId"
          data-cy="entityTable"
        >
          <td>
            <a
              [routerLink]="[
                '/annexure-questions',
                annexureQuestions.id,
                'view'
              ]"
              >{{ annexureQuestions.id }}</a
            >
          </td>
          <td>{{ annexureQuestions.formName }}</td>
          <td>{{ annexureQuestions.type }}</td>
          <td>{{ annexureQuestions.subType }}</td>
          <td>{{ annexureQuestions.description }}</td>
          <td>{{ annexureQuestions.freeField1 }}</td>
          <td>{{ annexureQuestions.freeField2 }}</td>
          <td>{{ annexureQuestions.freeField3 }}</td>
          <td>{{ annexureQuestions.freeField4 }}</td>
          <td>{{ annexureQuestions.createdDate | formatMediumDate }}</td>
          <td>{{ annexureQuestions.createdBy }}</td>
          <td>{{ annexureQuestions.lastModified | formatMediumDate }}</td>
          <td>{{ annexureQuestions.lastModifiedBy }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="[
                  '/annexure-questions',
                  annexureQuestions.id,
                  'view'
                ]"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.view"
                  >View</span
                >
              </button>

              <button
                type="submit"
                [routerLink]="[
                  '/annexure-questions',
                  annexureQuestions.id,
                  'edit'
                ]"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.edit"
                  >Edit</span
                >
              </button>

              <button
                type="submit"
                (click)="delete(annexureQuestions)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.delete"
                  >Delete</span
                >
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="annexureQuestions && annexureQuestions.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count
        [params]="{
          page: page,
          totalItems: totalItems,
          itemsPerPage: itemsPerPage
        }"
      ></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
