<div>
  <h2 id="page-heading" data-cy="AuditHeading">
    <span jhiTranslate="auditAppV1App.audit.home.title">Audits</span>

    <div class="d-flex justify-content-end">
      <button
        class="btn btn-info mr-2"
        (click)="loadPage()"
        [disabled]="isLoading"
      >
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="auditAppV1App.audit.home.refreshListLabel"
          >Refresh List</span
        >
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-audit"
        [routerLink]="['/audit/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="auditAppV1App.audit.home.createLabel">
          Create a new Audit
        </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="audits?.length === 0">
    <span jhiTranslate="auditAppV1App.audit.home.notFound"
      >No audits found</span
    >
  </div>

  <div
    class="table-responsive"
    id="entities"
    *ngIf="audits && audits.length > 0"
  >
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr
          jhiSort
          [(predicate)]="predicate"
          [(ascending)]="ascending"
          (sortChange)="loadPage()"
        >
          <th scope="col" jhiSortBy="id">
            <span jhiTranslate="global.field.id">ID</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="auditDate">
            <span jhiTranslate="auditAppV1App.audit.auditDate">Audit Date</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="hospName">
            <span jhiTranslate="auditAppV1App.audit.hospName">Hosp Name</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="isAuditComplete">
            <span jhiTranslate="auditAppV1App.audit.isAuditComplete"
              >Is Audit Complete</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="freeField1">
            <span jhiTranslate="auditAppV1App.audit.freeField1"
              >Free Field 1</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="freeField2">
            <span jhiTranslate="auditAppV1App.audit.freeField2"
              >Free Field 2</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="freeField3">
            <span jhiTranslate="auditAppV1App.audit.freeField3"
              >Free Field 3</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="freeField4">
            <span jhiTranslate="auditAppV1App.audit.freeField4"
              >Free Field 4</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="remark">
            <span jhiTranslate="auditAppV1App.audit.remark">Remark</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="auditAppV1App.audit.createdBy">Created By</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <span jhiTranslate="auditAppV1App.audit.createdDate"
              >Created Date</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <span jhiTranslate="auditAppV1App.audit.lastModified"
              >Last Modified</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="auditAppV1App.audit.lastModifiedBy"
              >Last Modified By</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="auditPatientMonitoringForm.id">
            <span jhiTranslate="auditAppV1App.audit.auditPatientMonitoringForm"
              >Audit Patient Monitoring Form</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let audit of audits; trackBy: trackId"
          data-cy="entityTable"
        >
          <td>
            <a [routerLink]="['/audit', audit.id, 'view']">{{ audit.id }}</a>
          </td>
          <td>{{ audit.auditDate | formatMediumDate }}</td>
          <td>{{ audit.hospName }}</td>
          <td>{{ audit.isAuditComplete }}</td>
          <td>{{ audit.freeField1 }}</td>
          <td>{{ audit.freeField2 }}</td>
          <td>{{ audit.freeField3 }}</td>
          <td>{{ audit.freeField4 }}</td>
          <td>{{ audit.remark }}</td>
          <td>{{ audit.createdBy }}</td>
          <td>{{ audit.createdDate | formatMediumDate }}</td>
          <td>{{ audit.lastModified | formatMediumDate }}</td>
          <td>{{ audit.lastModifiedBy }}</td>
          <td>
            <div *ngIf="audit.auditPatientMonitoringForm">
              <a
                [routerLink]="[
                  '/audit-patient-monitoring-form',
                  audit.auditPatientMonitoringForm?.id,
                  'view'
                ]"
                >{{ audit.auditPatientMonitoringForm?.id }}</a
              >
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/audit', audit.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.view"
                  >View</span
                >
              </button>

              <button
                type="submit"
                [routerLink]="['/audit', audit.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.edit"
                  >Edit</span
                >
              </button>

              <button
                type="submit"
                (click)="delete(audit)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.delete"
                  >Delete</span
                >
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="audits && audits.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count
        [params]="{
          page: page,
          totalItems: totalItems,
          itemsPerPage: itemsPerPage
        }"
      ></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
